<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.companyname.chatapp.chatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ChatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.StartActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:parentActivityName=".Activities.StartActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:parentActivityName=".Activities.StartActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.StatusActivity"
            android:parentActivityName=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.UsersActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.ProfileActivity">
            <intent-filter>
                <action android:name="com.companyname.chatapp.chatapp_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ChatActivity"
            android:parentActivityName=".Activities.MainActivity" />

        <provider
            android:name=".Database.UserProvider"
            android:authorities="com.companyname.chatapp.StudentsProvider" />

        <receiver android:name=".ChatAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chat_app_widget_info" />
        </receiver>
    </application>

</manifest>